.container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
}
button{
  width: 100%;
  height: 100%;
  border: transparent;
  
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
  font-weight: 500;
}
